<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request from<%=@first%> <%= @last %></h1>
    <h3>Date: <%= @date %> </h3>
    <h3>Phone: <%= @phone %></h3>
    <h3>Email: <%= @email %></h3>
    <h3>Address: <%= @address %></h3>
    <h3>Description: <%= @description %></h3>
  </body>
</html>