<div class="container">
    
        <div class="row">
            
        <h1 class="text-center">Landscaping</h1>
    
        <% @categories.each do |category| %>
    
        <div class="col-md-4">
        <h2 class="text-center"><%=category.name%></h2> 
         <%= image_tag category.image, :class => "img_ca img-thumbnail" %>
        <div class="row">
            <div class="col-md-12 tam">
                 
                   
               
            </div>
        </div>
        <div class="row">
             <div class="col-md-12">
                <p class="text-center"><%=category.description%></p>
                <br>
                <%= link_to "Show","/service/"+category.id.to_s+'?title='+category.name, :class => "btn btn-default text-center"  %>
        
            </div>
            
        </div>

        </div>
    <!--    
     <div class="col-md-4"></div>
        <div class="col-md-4"></div>




        <tr>
            <td><%=category.name%></td>
            <td><%=category.description%></td>
            <td><%= image_tag category.image, :class => "img_ca"%></td>
            <td><%= link_to "Show", {:controller => "welcome", :action => "service", :id => category.id} %></td> -->
        <% end%>

        </div>
 
   
</div> 